@inherits LayoutComponentBase

<PageTitle>Workflow</PageTitle>

<div class="page">
    <main style="height: 100%;">
        <article style="height: 100%;">
            @Body
        </article>
    </main>
</div>
